<h2>Dashboard</h2>
<ul class="DashLigts"></ul>
<li *ngFor="let dashlight of dashLights">
    <button type="button" routerLink="/light">
        <p>LightLevel Outside</p>
        <span class="LightLevelOutside">{{dashlight.LightLevelOutside}}</span>
    </button><br>
    <button type="button" routerLink="/light">
        <p>LightLevel In Stable</p>
        <span class="LightLevelInStable">{{dashlight.LightLevelInStable}}</span>
    </button><br><br>
</li>
<li *ngFor="let dashtemperature of dashTemperatures">
    <button type="button" routerLink="/temperature">
        <p>Temperature</p>
        <span class="Temperature">{{dashtemperature.Temperature}}</span>
    </button><br>
    <button type="button" routerLink="/temperature">
        <p>UV-Light On</p>
        <span class="UV-Light">{{dashtemperature.UVLightOn}}</span>
    </button>
</li>
