<h2>Dashboard</h2>
<ul class="DashLigts"></ul>
<li *ngFor="let lights of lightLogs">
    <button type="button" routerLink="/light">
        <p>LightLevel</p>
        <span class="Light">
            id {{lights.id}} <br>
            Lys udenfor {{lights.leveloflight}}<br>
            lys i stald {{lights.lightlevelinstable}}
        </span>
    </button><br>
    
</li>
<li *ngFor="let dashtemperature of dashTemperatures">
    <button type="button" routerLink="/temperature">
        <p>Temperature</p>
        <span class="Temperature">{{dashtemperature.Temperature}}</span>
        <p>UV-Light On</p>
        <span class="UV-Light">{{dashtemperature.UVLightOn}}</span>
    </button><br>
</li>
